<div class="d-flex justify-content-center">
	<form method="POST" action="/payment/order">
		<div class="mb-3">
		  <label for="amountInput" class="form-label">Enter Amount</label>
		  <input name="amount" type="number" min="1" class="form-control form-control-lg" id="amountInput" aria-describedby="amountHelp" required>
		  <div id="amountHelp" class="form-text">TEST MODE</div>
		</div>
		<!-- <iframe width="768" height="432" src="https://miro.com/app/live-embed/uXjVKaqH_eg=/?moveToViewport=-4830,-2278,8523,4250&embedId=390069774539" frameborder="0" scrolling="no" allow="fullscreen; clipboard-read; clipboard-write" allowfullscreen></iframe> -->
		<div class="d-grid">
			<button type="submit" class="btn btn-primary" id="getOrderIdBtn">Submit</button>
		</div>
	</form>
</div>